/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery-image{
  width: 300px;
  transition: transform 0.3s ease;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
}

.gallery-image:hover {
  transform: scale(1.05);
}

.feedback-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

textarea{
  overflow: hidden;
  resize: none;
  width: 360px;
  height: 80px;
  border-radius: 4px;
  margin-bottom: 8px;
  border-color: #808080;
}

input{
width: 360px;
height: 40px;
border-radius: 4px;
border-color: #808080;
}

.submit-btn{
  background-color: #4e75ff;
  width: 95px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 7px;
}

label{
display: flex;
flex-direction: column;
text-align: left;
}

input:hover{
  border-color: #000000;
}

textarea:hover{
  border-color: #000000;
}

.submit-btn:hover{
  background-color: #6c8cff;
}